$mobile_column_padding: 20px;
$desktop_column: 1170px;
$default_padding: 22px;
// govCMS UI Kit Colours.
$primary_1: #224A61;
$secondary_1: $dark-aqua;
$secondary_2: $aqua;
$secondary_3: $light-aqua;
$neutral_1: $non-black;
$neutral_2: $grey;
$neutral_3: $light-grey;
$neutral_4: $non-white;
