#footer {
  // background-color: $base_grey;
}

.region-footer {
  // @include center-column($desktop_column);
}

#block-views-footer-teaser-block {
  &>h2 {
    @include visually-hidden;
  }
  .content {
    @include center-column($desktop_column);
  }
}

#block-menu-block-govcms-menu-block-footer {
  background-color: $primary_1;
  &>h2 {
    @include visually-hidden;
  }
  .content {
    @include center-column($desktop_column);
    padding-top: 17px;
    padding-bottom: 17px;
    @include breakpoint(tablet) {
      padding-top: 64px;
      padding-bottom: 64px;
    }
    &>div>ul.menu {
      padding-left: 0;
      margin-bottom: 0;
      @include breakpoint(tablet) {
        display: table;
        width: 100%;
        table-layout: fixed;
        margin-bottom: 0;
      }
      &>li {
        margin-bottom: 15px;
        @include breakpoint(tablet) {
          display: table-cell;
          margin-bottom: 0;
          margin-bottom: $default_padding;
        }
        &>a {
          font-weight: 600;
          @include breakpoint(tablet) {
            font-weight: 700;
          }
        }
        &>ul {
          display: none;
          @include breakpoint(tablet) {
            display: block;
            padding-left: 0;
            margin-top: 35px;
          }
          ul {
            padding-left: $default_padding;
            margin-top: $default_padding;
          }
        }
      }
      li {
        // margin: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: $default_padding;
        padding: 0;
        list-style: none;
        @include link-colours(white, $secondary_3, $neutral_1);
      }
    }
  }
}

#block-menu-menu-footer-sub-menu {
  border-top: 1px solid darken($primary_1, 10%);
  background-color: $primary_1;
  &>h2 {
    @include visually-hidden;
  }
  .content {
    @include center-column($desktop_column);
    padding-top: 17px;
    padding-bottom: 17px;
    @include breakpoint(tablet) {
      padding-top: 38px;
      padding-bottom: 38px;
      display: flex;
      justify-content: space-between;
      align-content: center;
    }
    ul.menu {
      padding-left: 0;
      @include breakpoint(tablet) {
        order: 2;
        margin-bottom: 0;
        text-align: right;
      }
      &>li {
        @include link-colours(white, $secondary_3, $neutral_1);
        padding-top: 0;
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        list-style: none;
        @include breakpoint(tablet) {
          display: inline-block;
          margin-left: 15px;
        }
        @include breakpoint(desktop) {
          margin-left: 30px;
        }
      }
    }
    .footer-copyright {
      color: white;
      @include breakpoint(tablet) {
        order: 1;
      }
    }
  }
}
