// =========================================================
// TEASER BLOCK VIEW
// =========================================================
#block-views-footer-teaser-block {
  background-color: $neutral_4;
  padding-top: $default_padding * 2;
  padding-bottom: $default_padding * 2;
  &>h2 {
    @include center-column($desktop_column);
    @include medium-title;
  }
  .content {
    @include center-column($desktop_column);
  }
  .view-footer-teaser {
    .view-content {
      @include breakpoint(tablet) {
        @include outer-container(100%);
        display: flex;
        flex-wrap: wrap;
      }
      .views-row {
        @include listing-component-wrapper;
        padding: 0;
        background-color: transparent;
        @include breakpoint(tablet) {
          @include span-columns(4 of 12);
        }
        h2 {
          @include listing-component-heading;
          margin-top: 0;
        }
        .field-name-field-description {
          @include listing-component-body;
        }
        &:nth-child(3n) {
          @include breakpoint(tablet) {
            @include omega();
          }
        }
      }
    }
  }
}

// =========================================================
// GENERAL FOOTER MENUS
// =========================================================
.region-footer {
  background-color: $primary_1;
  .block-menu, .block-menu-block {
    &>h2 {
      @include visually-hidden;
    }
    .content {
      @include center-column($desktop_column);
      padding-top: rem(17px);
      padding-bottom: rem(17px);
      color: white;
      @include breakpoint(tablet) {
        padding-top: rem(64px);
        padding-bottom: rem(64px);
      }
      // First level of nav should be horizontal.
      &>ul.menu, &>.menu-block-wrapper>ul.menu {
        @include breakpoint(tablet) {
          display: table;
          width: 100%;
          table-layout: fixed;
          margin-bottom: 0;
        }
        &>li {
          @include breakpoint(tablet) {
            display: table-cell;
            margin-bottom: 0;
            margin-bottom: $default_padding;
          }
        }
      }
      ul.menu {
        padding-left: 0;
        margin-bottom: 0;
        &>li {
          @include link-colours(white, $neutral_4, $neutral_1);
          margin-left: 0;
          margin-right: 0;
          margin-bottom: $default_padding;
          padding: 0;
          list-style: none;
          margin-bottom: rem(15px);
          &>a {
            font-weight: 600;
            @include breakpoint(tablet) {
              font-weight: 700;
            }
          }
          &>ul {
            display: none;
            @include breakpoint(tablet) {
              display: block;
              padding-left: 0;
              margin-top: rem(35px);
            }
            li {
              a {
                font-weight: 400;
              }
            }
            ul {
              padding-left: $default_padding;
              margin-top: $default_padding;
            }
          }
        }
      }
    }
  }
}

// =========================================================
// DISCLAIMER FOOTER
// =========================================================
#block-menu-menu-footer-sub-menu {
  border-top: 1px solid darken($primary_1, 10%);
  .content {
    @include breakpoint(tablet) {
      padding-top: rem(38px);
      padding-bottom: rem(38px);
      display: flex;
      justify-content: space-between;
      align-content: center;
    }
    ul.menu {
      @include breakpoint(tablet) {
        order: 2;
        text-align: right;
        width: auto;
        display: block;
      }
      &>li {
        margin-bottom: rem(15px);
        @include breakpoint(tablet) {
          display: inline-block;
          margin-left: rem(15px);
        }
        @include breakpoint(desktop) {
          margin-left: rem(30px);
        }
        a {
          font-weight: 400;
        }
      }
    }
    .footer-copyright {
      @include breakpoint(tablet) {
        order: 1;
      }
    }
  }
}
