.front {
  .page__title {
    @include visually-hidden;
  }
  .gov-front-layout {
    .bean-basic-content {
      background-color: $neutral_4;
      &>.content {
        @include center-column($desktop_column);
        @include link-colours($primary_1, $secondary_3, $neutral_1);
        padding-top: $default_padding * 2;
        padding-bottom: rem(50px);
        color: $neutral_1;
        text-align: center;
        p {
          margin-bottom: 0;
        }
      }
    }
  }
  .gov-front-left {
    padding-top: rem(40px);
    padding-bottom: rem(108px);
    background-color: $neutral_4;
    .panel-pane {
      @include center-column($desktop_column);
    }
  }
  .gov-front-right {
    padding-top: rem(40px);
    padding-bottom: rem(108px);
    background-color: $neutral_4;
    .panel-pane {
      @include center-column($desktop_column);
    }
  }
}

.pane-title {
  color: $primary_1;
  font-size: rem(36px);
  font-weight: 300;
}

.block-govcms-social-links {
  background-color: $primary_2;
  .inner-wrapper {
    @include center-column($desktop_column);
    display: flex;
    align-items: center;
    color: white;
    padding-top: rem(38px);
    padding-bottom: rem(38px);
    h2 {
      margin: 0;
      margin-right: rem(10px);
      display: inline;
      font-size: rem(16px);
    }
    .content {
      display: inline;
      a {
        margin-right: rem(10px);
        display: inline-block;
        vertical-align: middle;
        img {
          float: left;
        }
      }
    }
  }
}

.view-home-page-blog-articles {
  .view-content {
    @include breakpoint(tablet) {
      @include outer-container(100%);
      display: flex;
      flex-wrap: wrap;
    }
    .views-row {
      @include breakpoint(tablet) {
        @include span-columns(4 of 12);
        &:nth-child(3n) {
          @include breakpoint(tablet) {
            @include omega();
          }
        }
      }
      .node {
        @include listing-component-wrapper;
        &.has-thumbnail {
          padding-top: $listing_component_image_height;
          .field-type-image {
            @include listing-component-image;
          }
          h2 {
            margin-top: rem(30px);
          }
        }
      }
      h2 {
        @include listing-component-heading;
        margin-top: 0;
      }
      .submitted {
        @include listing-component-subtext;
      }
    }
  }
}

.view-latest-news {
  .view-content {
    @include breakpoint(tablet) {
      @include outer-container(100%);
      display: flex;
      flex-wrap: wrap;
    }
    .views-row {
      @include breakpoint(tablet) {
        @include span-columns(4 of 12);
        &:nth-child(3n) {
          @include breakpoint(tablet) {
            @include omega();
          }
        }
      }
      .node {
        @include listing-component-wrapper;
        &.has-thumbnail {
          padding-top: $listing_component_image_height;
          .field-type-image {
            @include listing-component-image;
          }
          h2 {
            margin-top: rem(30px);
          }
        }
      }
      h2 {
        @include listing-component-heading;
        margin-top: 0;
      }
      .submitted {
        @include listing-component-subtext;
      }
    }
  }
}

.view-footer-teaser {
  .view-content {
    @include breakpoint(tablet) {
      @include outer-container(100%);
      display: flex;
      flex-wrap: wrap;
    }
    .views-row {
      @include listing-component-wrapper;
      padding-top: $listing_component_image_height;
      @include breakpoint(tablet) {
        @include span-columns(4 of 12);
      }
      h2 {
        @include listing-component-heading;
      }
      .field-name-field-image {
        @include listing-component-image;
      }
      &:nth-child(3n) {
        @include breakpoint(tablet) {
          @include omega();
        }
      }
    }
  }
}
