html {
  &.large-fonts {
    font-size: $large-font-size;
  }
}

#content {
  // @include center-column($desktop_column);
  @include button-colours($secondary_1, darken($secondary_1, 20%), #fff, darken($secondary_1, 40%), darken($secondary_1, 40%));
  body.not-front & {
    .content-header {
      background-color: $secondary_1;
      height: 235px;
      padding-top: 40px;
      padding-bottom: 40px;
      margin-bottom: 103px;
      .content-header-inner {
        @include center-column($desktop_column);
      }
    }
  }
  .content-body {
    &>.messages {
      max-width: $desktop_column;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.content-body {
  .content {
    @include link-colours($primary_1, $secondary_3, $neutral_1);
  }
}

.content-body-inner.has-sidebar {
  @include center-column($desktop_column);
  display: flex;
  flex-wrap: wrap;
  @include breakpoint(tablet) {
    flex-wrap: nowrap;
  }
}

.sidebar-first {
  order: -1;
  @include breakpoint(tablet) {
    width: 240px;
    min-width: 240px;
    padding-right: 60px;
  }
}

.more-link {
  @include link-colours($primary_1, $secondary_3, $neutral_1);
}
