html {
  &.large-fonts {
    font-size: $large-font-size;
  }
}

#content {
  @include button-colours($secondary_1, darken($secondary_1, 20%), #fff, darken($secondary_1, 40%), darken($secondary_1, 40%));
  body.not-front & {
    .content-header {
      background-color: $secondary_1;
      height: rem(235px);
      padding-top: rem(40px);
      padding-bottom: rem(40px);
      margin-bottom: rem(103px);
      .content-header-inner {
        @include center-column($desktop_column);
        h1 {
          font-weight: 300;
          font-size: rem(48px);
          color: white;
        }
      }
    }
  }
  .content-body {
    &>.messages {
      max-width: $desktop_column;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.content-body {
  .content {
    @include link-colours($primary_1, $secondary_3, $neutral_1);
  }
}

.content-body-inner.has-sidebar {
  @include center-column($desktop_column);
  display: flex;
  flex-wrap: wrap;
  @include breakpoint(tablet) {
    flex-wrap: nowrap;
  }
}

.sidebar-first {
  order: -1;
  @include breakpoint(tablet) {
    width: rem(240px);
    min-width: rem(240px);
    padding-right: rem(60px);
  }
}

.more-link {
  @include link-colours($primary_1, $secondary_3, $neutral_1);
}
