.block-twitter-block {
  @include center-column($desktop_column);
  padding-top: $default_padding * 2;
  padding-bottom: $default_padding * 2;
  h2 {
    @include medium-title;
  }
  iframe {
    width: 100% !important;
  }
}
