.block-twitter-block {
  display: none;
}

.block-govcms-social-links {
  display: none;
}

.block-menu-menu-footer-menu {
  display: none;
}

#block-menu-menu-quick-links {
  display: none;
}

#block-views-footer-teaser-block {
  display: none;
}

#block-menu-menu-footer-menu {
  display: none;
}

.footer-copyright {
  border-top: 1px solid black;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

#block-menu-menu-footer-sub-menu {
  h2, ul {
    display: none;
  }
}
