.logo-wrapper {
  display: table;
  &>a, &>div {
    display: table-cell;
    vertical-align: middle;
    padding-right: 12pt;
  }
  .header-title {
    font-size: 2em;
    font-weight: 700;
  }
}

.header__logo {
  &:after {
    display: none;
  }
}
