.drupal-navbar {
  ul {
    @include media($tablet) {
      font-size: rem(13px);
    }
  }
}

ul.contextual-links {
  @include media($tablet) {
    font-size: rem(13px);
  }
}

.content-body .content {
  .contextual-links-wrapper {
    a {
      background-color: transparent;
      border-bottom: 0;
      transition: none;
    }
    ul {
      a {
        &:focus, &:hover {
          background-color: #bfdcee;
        }
      }
    }
  }
}

ul.tabs.primary {
  @include center-column($desktop_column);
}

.content .profile {
  @include center-column($desktop_column);
}

#user-login {
  @include center-column($desktop_column);
  &>div {
    max-width: rem(550px);
    box-sizing: border-box;
  }
}

.block-workbench {
  @include center-column($desktop_column);
  margin-top: $default_padding;
  margin-bottom: $default_padding;
}
